/* Landing Page */
body{

position: relative;
width: 1512px;
height: 6597px;

background: #FFFFFF;
}

/* Rectangle 686 */

position: absolute;
width: 1512px;
height: 919px;
left: 0px;
top: 4366px;



/* Frame 5067 */


position: absolute;
width: 1312px;
height: 774px;
left: 100px;
top: 144px;
overflow-x: scroll;



/* Rectangle 1 */

position: absolute;
width: 1312px;
height: 770px;
left: 0px;
top: 4px;

background: linear-gradient(0deg, rgba(233, 184, 172, 0.67), rgba(233, 184, 172, 0.67)), url(beautiful-husband-wife-posing-beach_23-2149003451.png);
border-radius: 30px 30px 0px 0px;


/* Let’s Create Beautiful Memories Together! */

position: absolute;
width: 873px;
height: 388px;
left: 111px;
top: 115px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 130px;

color: #F7F7F7;



/* Group 22 */

position: absolute;
width: 924.62px;
height: 112.81px;
left: 194px;
top: 559px;

filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));


/* Group 48 */

position: absolute;
width: nanpx;
height: nanpx;
left: 202px;
top: 565px;



/* Rectangle 17 */

position: absolute;
visibility: hidden;
width: 393.01px;
height: 112.81px;
left: -182.39px;
top: 559px;

background: #E12626;
border-radius: 35px;


/* Group 171 */

position: absolute;
width: 924.62px;
height: 112.81px;
left: 194px;
top: 559px;



/* Rectangle 15 */

position: absolute;
width: 907.09px;
height: 112.81px;
left: 194px;
top: 559px;

background: #FFFFFF;
border-radius: 30px;


/* Rectangle 16 */

position: absolute;
width: 123.62px;
height: 112.81px;
left: 995px;
top: 559px;

background: #F6DCD7;
border-radius: 0px 30px 30px 0px;


/* Frame */

position: absolute;
width: 46.89px;
height: 55.9px;
left: 1034px;
top: 585px;

border-radius: 30px;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 6px solid #333333;


/* Search all Services */

position: absolute;
width: 250.83px;
height: 41.11px;
left: 467px;
top: 599px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.08em;

color: #2B2B2B;



/* Group 170 */

position: absolute;
width: 124.24px;
height: 24.67px;
left: 259.97px;
top: 600.28px;



/* Venue */

position: absolute;
width: 66.95px;
height: 24.67px;
left: 259.97px;
top: 600.28px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.08em;

color: #000000;



/* Frame */

position: absolute;
width: 16.2px;
height: 19.31px;
left: 368.01px;
top: 602.8px;

border-radius: 30px;


/* Vector */

position: absolute;
left: 15.7%;
right: 15.55%;
top: 31.17%;
bottom: 31.25%;

background: #000000;


/* Line 5 */

position: absolute;
width: 112.81px;
height: 0px;
left: 431.82px;
top: 559px;

border: 1px solid #CDCDCD;
transform: matrix(-0.01, 1, -1, -0.01, 0, 0);


/* Group 172 */

position: absolute;
width: 1312px;
height: 901px;
left: 100px;
top: 959px;



/* Rectangle 18 */

position: absolute;
width: 1312px;
height: 901px;
left: 100px;
top: 959px;

background: #B5C5C5;
border-radius: 30px 30px 0px 0px;


/* About Us, */

position: absolute;
width: 280px;
height: 86px;
left: 331px;
top: 1113px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 86px;
text-align: center;

color: #F7F7F7;



/* Rectangle 19 */

position: absolute;
width: 589px;
height: 655px;
left: 823px;
top: 1086px;

background: #D9D9D9;
border-radius: 0px;


/* Rectangle 20 */

position: absolute;
width: 638px;
height: 405px;
left: 165px;
top: 1242px;

background: url(beautiful-bride-groom-having-their-wedding-with-guests-beach_23-2149043991.png);


/* N3Unique Wedding Organizer adalah tim wedding coordinator yang bekerja bersama untuk memberikan pelayanan jasa pengorganisasian segala aktivitas yang berkaitan dengan kebutuhan acara pernikahan. Kami memahami bagaimanapun juga pernikahan hanya sekali dalam seumur hidup, maka dari itu sangat penting dan harus berjalan sukses. Oleh karena itu, kami N3Unique WO team bekerja sepenuhnya untuk anda. */

position: absolute;
width: 536px;
height: 599px;
left: 849px;
top: 1123px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 135.9%;
/* or 43px */
text-align: justify;
letter-spacing: -0.015em;

color: #666666;



/* Rectangle 21 */

position: absolute;
width: 1510px;
height: 2470px;
left: 2px;
top: 1901px;

background: #F7F7F7;


/* Group 173 */

position: absolute;
width: 1315px;
height: 1929px;
left: 97px;
top: 2158px;



/* Rectangle 22 */

position: absolute;
width: 555px;
height: 643px;
left: 100px;
top: 2158px;

background: url(decorated-hall-wedding-is-ready-celebration_8353-10236.png);
border-radius: 30px;


/* Rectangle 24 */

position: absolute;
width: 555px;
height: 769px;
left: 857px;
top: 2738px;

background: url(7a398fa84f428d6bd40befe81c5a3942.jpg);
border-radius: 30px;


/* Rectangle 26 */

position: absolute;
width: 555px;
height: 720px;
left: 100px;
top: 3367px;

background: url(85293ef9b5a0483faae6d92d106addcd.jpg);
border-radius: 30px;


/* Rectangle 23 */

position: absolute;
width: 868px;
height: 309px;
left: 544px;
top: 2325px;

background: #B5C5C5;
border-radius: 30px;


/* Rectangle 25 */

position: absolute;
width: 868px;
height: 309px;
left: 97px;
top: 2968px;

background: #E9B8AC;
border-radius: 30px;


/* Rectangle 27 */

position: absolute;
width: 868px;
height: 309px;
left: 544px;
top: 3611px;

background: #B5C5C5;
border-radius: 30px;


/* Frame 5069 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 50px;
gap: 10px;

position: absolute;
width: 580px;
height: 85px;
left: 461px;
top: 4207px;

background: #B5C5C5;
border-radius: 15px;


/* Get in Touch, with us! */

width: 480px;
height: 65px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 65px;
/* identical to box height */
text-align: center;

color: #F7F7F7;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Our Partners */

position: absolute;
width: 391px;
height: 86px;
left: 574px;
top: 2005px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 86px;
text-align: center;

color: #F6DCD7;

border: 1px solid rgba(0, 0, 0, 0.2);


/* We offer several venue options that you can choose */

position: absolute;
width: 681px;
height: 141px;
left: 625px;
top: 2395px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 65px;
text-align: center;

color: #FFFCFC;



/* We offer several make up vendor options that you can choose */

position: absolute;
width: 681px;
height: 141px;
left: 618px;
top: 3656px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 65px;
text-align: center;

color: #FFFFFF;



/* We offer several photography vendor options that you can choose */

position: absolute;
width: 681px;
height: 141px;
left: 191px;
top: 3020px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 65px;
text-align: center;

color: #FFFFFF;



/* Frame 5070 */

position: absolute;
width: 221px;
height: 56px;
left: 1191px;
top: 4412px;

background: #E9B8AC;
border-radius: 30px;


/* Group 5 */

position: absolute;
width: 240px;
height: 62px;
left: -19px;
top: -3px;

filter: drop-shadow(0px 20px 44px rgba(255, 71, 126, 0.27));


/* Rectangle 6 */

position: absolute;
width: 240px;
height: 62px;
left: -19px;
top: -3px;

background: #E9B8AC;
border-radius: 12px;


/* See All Feedback */

position: absolute;
width: 172px;
height: 30px;
left: 24px;
top: 13px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

color: #FFFFFF;



/* Testimonials */

position: absolute;
width: 380px;
height: 86px;
left: 118px;
top: 4468px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 86px;
text-align: center;

color: #E7C7BF;



/* Rectangle 29 */

position: absolute;
width: 508px;
height: 497px;
left: 751px;
top: 4628px;

background: url(c47344e1f9d455449168e609954c4560.jpg);
border-radius: 30px;


/* Rectangle 30 */

position: absolute;
width: 546px;
height: 313px;
left: 253px;
top: 4719px;

background: #F7F7F7;
border-radius: 30px;


/* Frame 5072 */

position: absolute;
width: 50px;
height: 50px;
left: 100px;
top: 4827px;

background: #B5C5C5;
border-radius: 100px;


/* chevron-right */

position: absolute;
width: 36px;
height: 36px;
left: 43px;
top: 43px;

transform: rotate(-180deg);


/* Vector */

position: absolute;
left: 62.5%;
right: 12.5%;
top: 75%;
bottom: -25%;

border: 2px solid #F7F7F7;
transform: rotate(-180deg);


/* Frame 5071 */

position: absolute;
width: 50px;
height: 50px;
left: 1362px;
top: 4827px;

background: #B5C5C5;
border-radius: 100px;


/* chevron-right */

position: absolute;
width: 36px;
height: 36px;
left: 7px;
top: 7px;



/* Vector */

position: absolute;
left: 37.5%;
right: 37.5%;
top: 25%;
bottom: 25%;

border: 2px solid #F7F7F7;


/* Group 174 */

position: absolute;
width: 1312px;
height: 901px;
left: 100px;
top: 5285px;



/* Rectangle 18 */

position: absolute;
width: 1312px;
height: 901px;
left: 100px;
top: 5285px;

background: #B5C5C5;
border-radius: 30px 30px 0px 0px;


/* Contact Us */

position: absolute;
width: 317px;
height: 86px;
left: 593px;
top: 5362px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 86px;
text-align: center;

color: #F7F7F7;



/* Group 5 */

position: absolute;
width: 686px;
height: 457px;
left: 719px;
top: 5501px;



/* Contact N3Unique */

position: absolute;
width: 686px;
height: 74px;
left: 719px;
top: 5501px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 120%;
/* or 77px */

color: #F7F7F7;



/* Group 6 */

position: absolute;
width: 400px;
height: 346px;
left: 729.01px;
top: 5612px;



/* Group 1 */

position: absolute;
width: 400px;
height: 346px;
left: 729.01px;
top: 5612px;



/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

position: absolute;
width: 400px;
height: 78px;
left: 729.01px;
top: 5612px;



/* Full Name */

width: 165px;
height: 38px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 120%;
/* or 38px */

color: #F7F7F7;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector 1 */

width: 400px;
height: 0px;

border: 3px solid #F7F7F7;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

position: absolute;
width: 400px;
height: 78px;
left: 729.01px;
top: 5753px;



/* Full Name */

width: 103px;
height: 38px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 120%;
/* or 38px */

color: #F7F7F7;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector 1 */

width: 400px;
height: 0px;

border: 3px solid #F7F7F7;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

position: absolute;
width: 400px;
height: 78px;
left: 729.01px;
top: 5880px;



/* Full Name */

width: 142px;
height: 38px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 120%;
/* or 38px */

color: #F7F7F7;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector 1 */

width: 400px;
height: 0px;

border: 3px solid #F7F7F7;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Rectangle 31 */

position: absolute;
width: 461px;
height: 594px;
left: 194px;
top: 5501px;

background: url(Frame 5069.png);
border-radius: 30px;


/* Frame 5073 */

position: absolute;
width: 325px;
height: 80px;
left: 729px;
top: 6015px;

background: #E9B8AC;
border-radius: 30px;


/* Group 5 */

position: absolute;
width: 240px;
height: 62px;
left: -19px;
top: -3px;

filter: drop-shadow(0px 20px 44px rgba(255, 71, 126, 0.27));


/* Rectangle 6 */

position: absolute;
width: 240px;
height: 62px;
left: -19px;
top: -3px;

background: #E9B8AC;
border-radius: 12px;


/* Contact Us */

position: absolute;
width: 202px;
height: 54px;
left: 61px;
top: 13px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 54px;
/* identical to box height */

color: #FFFFFF;



/* image-removebg-preview (5) 2 1 */

position: absolute;
width: 153px;
height: 131px;
left: 100px;
top: 6244px;

background: url(image-removebg-preview (5) 2.png);


/* Let’s Create Beautiful Memories Together. You deserve the best on your special day – we’re here to help! */

position: absolute;
width: 517px;
height: 94px;
left: 888px;
top: 6305px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
text-align: right;

color: #000000;



/* Jl. Sono Indah Baru No.86, Sono, Sidokerto, Kec. Buduran,Kabupaten Sidoarjo, Sidoarjo, Jawa Timur */

position: absolute;
width: 744px;
height: 70px;
left: 100px;
top: 6399px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

color: #000000;



/* 087753892031 - hello@N3Unique.com */

position: absolute;
width: 744px;
height: 39px;
left: 100px;
top: 6541px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

color: #000000;



/* Facebook - Negative */

position: absolute;
width: 48px;
height: 48px;
left: 1077px;
top: 6526px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0.61%;

background: #000000;


/* Twitter - Negative */

position: absolute;
width: 48px;
height: 48px;
left: 1168px;
top: 6526px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 9.37%;
bottom: 9.38%;

background: #000000;


/* Instagram - Negative */

position: absolute;
width: 48px;
height: 48px;
left: 1259px;
top: 6526px;



/* Group */

position: absolute;
left: 0%;
right: 0.06%;
top: 0%;
bottom: 0.02%;



/* Vector */

position: absolute;
left: 0%;
right: 0.06%;
top: 0%;
bottom: 0.02%;

background: #000000;


/* Vector */

position: absolute;
left: 24.32%;
right: 24.32%;
top: 24.32%;
bottom: 24.32%;

background: #000000;


/* Vector */

position: absolute;
left: 70.7%;
right: 17.3%;
top: 17.3%;
bottom: 70.7%;

background: #000000;


/* youtube */

position: absolute;
width: 60px;
height: 60px;
left: 1350px;
top: 6520px;



/* Vector */

position: absolute;
left: 4.16%;
right: 4.17%;
top: 16.67%;
bottom: 18.92%;

border: 2px solid #000000;


/* Vector */

position: absolute;
left: 40.62%;
right: 35.42%;
top: 35.33%;
bottom: 37.42%;

border: 2px solid #000000;


/* "Thank you for your help through the organising of our wedding reception, Chris our guests and I had the most wonderful time. The venue looked simply divine on the day and the staff working at our event were lovely." */

position: absolute;
width: 460px;
height: 242px;
left: 296px;
top: 4772px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
text-align: center;

color: #E7C7BF;



/* Frame 5076 */

position: absolute;
width: 221px;
height: 56px;
left: 1149px;
top: 3837px;

background: #E9B8AC;
border-radius: 30px;


/* Group 5 */

position: absolute;
width: 240px;
height: 62px;
left: -19px;
top: -3px;

filter: drop-shadow(0px 20px 44px rgba(255, 71, 126, 0.27));


/* Rectangle 6 */

position: absolute;
width: 240px;
height: 62px;
left: -19px;
top: -3px;

background: #E9B8AC;
border-radius: 12px;


/* View More */

position: absolute;
width: 105px;
height: 30px;
left: 58px;
top: 13px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

color: #FFFFFF;



/* Frame 5077 */

position: absolute;
width: 221px;
height: 56px;
left: 711px;
top: 3189px;

background: #B5C5C5;
border-radius: 30px;


/* Group 5 */

position: absolute;
width: 240px;
height: 62px;
left: -19px;
top: -3px;

filter: drop-shadow(0px 20px 44px rgba(255, 71, 126, 0.27));


/* Rectangle 6 */

position: absolute;
width: 240px;
height: 62px;
left: -19px;
top: -3px;

background: #B5C5C5;
border-radius: 12px;


/* View More */

position: absolute;
width: 105px;
height: 30px;
left: 58px;
top: 13px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

color: #FFFFFF;



/* Frame 5078 */

position: absolute;
width: 221px;
height: 56px;
left: 1149px;
top: 2539px;

background: #E9B8AC;
border-radius: 30px;


/* Group 5 */

position: absolute;
width: 240px;
height: 62px;
left: -19px;
top: -3px;

filter: drop-shadow(0px 20px 44px rgba(255, 71, 126, 0.27));


/* Rectangle 6 */

position: absolute;
width: 240px;
height: 62px;
left: -19px;
top: -3px;

background: #E9B8AC;
border-radius: 12px;


/* View More */

position: absolute;
width: 105px;
height: 30px;
left: 58px;
top: 13px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

color: #FFFFFF;



/* Frame 2987 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: absolute;
width: 1512px;
height: 148px;
left: 0px;
top: 0px;



/* Frame 5075 */

width: 1512px;
height: 148px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 2997 */

position: absolute;
width: 924px;
height: 62px;
left: 282px;
top: 43px;



/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
gap: 10px;

position: absolute;
width: 151px;
height: 50px;
left: 1055px;
top: 50px;



/* Testimonials */

width: 131px;
height: 30px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Packages */

position: absolute;
width: 100px;
height: 30px;
left: 929px;
top: 60px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

color: #000000;



/* Frame 5052 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
gap: 10px;

position: absolute;
width: 86px;
height: 50px;
left: 664px;
top: 55px;



/* Venue */

width: 66px;
height: 30px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 5053 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
gap: 10px;

position: absolute;
width: 174px;
height: 50px;
left: 490px;
top: 43px;



/* Frame 5068 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
gap: 10px;

width: 154px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Pembayaran */

width: 134px;
height: 30px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Home */

position: absolute;
width: 61px;
height: 30px;
left: 282px;
top: 65px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

color: #E9B8AC;



/* Pemesanan */

position: absolute;
width: 123px;
height: 30px;
left: 368px;
top: 65px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

color: #000000;



/* Frame 2985 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 133px;
height: 50px;
left: 770px;
top: 53px;



/* Frame 5 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
gap: 10px;

width: 95px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vendor */

width: 75px;
height: 30px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 5084 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;
gap: 10px;

width: 38px;
height: 29px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

width: 9px;
height: 18px;

border: 2px solid #000000;
transform: matrix(0, -1, -1, 0, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 5085 */

box-sizing: border-box;

position: absolute;
width: 130px;
height: 56px;
left: 1285px;
top: 50px;

background: #E9B8AC;
border: 1px solid #E9B8AC;
border-radius: 30px;


/* Group 5 */

position: absolute;
width: 130px;
height: 62px;
left: 0px;
top: 0px;

filter: drop-shadow(0px 20px 44px rgba(255, 71, 126, 0.27));


/* Rectangle 6 */

position: absolute;
width: 130px;
height: 62px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-radius: 12px;


/* Login */

position: absolute;
width: 55px;
height: 30px;
left: 38px;
top: 13px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

color: #E9B8AC;

